.container {
    padding: 2rem 6rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.container h1 {
    font-size: 2.5rem;
    text-align: center;
}

.container #education-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
}

.container .content .card {
    display: flex;
    flex-direction: column;
    gap: .6rem;
    align-items: center;
    background-color: var(--bg-sec-color);
    padding: 0 0 1rem 0;
    border-radius: 1rem;
    cursor: pointer;
}

.container .card img {
    width: 15vw;
    padding: 1rem;
}

.container .card:hover {
    scale: 1.01;
    background-color: rgb(58, 58, 58);
    transition: all .2s;
}

.container #experience-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
}

.container .content .accordion {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem 1.5rem;
    background-color: var(--bg-sec-color);
    border-radius: 1rem;
}

.container .accordion img {
    width: 5vw;
}

.container .accordion-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media (max-width: 568px) {
    .container #education-content {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
}