#experiences {
    margin: 1rem;
}

.container {
    padding: 2rem 6rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.container h1 {
    font-size: 2.5rem;
    text-align: center;
}

.container #education-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
}

.container .content .card {
    display: flex;
    flex-direction: column;
    gap: .6rem;
    align-items: center;
    background-color: var(--bg-sec-color);
    padding: 0 0 2rem 0;
    border-radius: 1rem;
}

.container #education-content p {
    font-size: 1.1rem;
    font-weight: 500;
}

.container .card img {
    width: 15vw;
    padding: 1rem;
}

.container .card:hover, .container .content .accordion:hover {
    scale: 1.005;
    background-color: rgb(58, 58, 58);
    transition: all .2s;
}

.container #experience-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
}

.container .content .accordion {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1.5rem 2.5rem;
    background-color: var(--bg-sec-color);
    border-radius: 1rem;
}

.container .accordion img {
    width: 5vw;
    height: auto;
    object-fit: contain;
}

.container .accordion-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media (max-width: 1150px) {
    .container {
        padding: 2rem;
    }

    #experience-content .accordion h2 {
        font-size: 1.3rem;
    }

    #experience-content .accordion p {
        font-size: .9rem;
    }

    .container .content .accordion {
        padding: 1rem 1.5rem;
    }
}

@media (max-width: 724px) {
    .container {
        margin: 1rem 0;
        padding: 0 1rem;
        justify-items: center;
    }

    .container h1 {
        font-size: 2rem;
    }

    .container #education-content {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
        row-gap: 2rem;
        justify-items: center;
    }

    .container .card h2 {
        font-size: 1.5rem;
    }

    .container .card p {
        font-size: 1rem;
    }
    
    .container .content .card {
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 80vw;
    }

    .container .card img {
        width: 30vw;
        height: auto;
        object-fit: contain;
    }

    .container #experience-content {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
    }

    .container .content .accordion {
        width: 90vw;
        gap: .9rem;
    }

    .container .accordion img {
        width: 15%;
    }

    #experience-content .accordion h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 530px) {
    .container .content .accordion {
        gap: 1.21rem;
        padding: 1rem .8rem;
    }

    #experience-content .accordion h2 {
        font-size: 1.3rem;
    }

    .container .accordion p {
        font-size: .5rem;
    }

    .container .accordion img {
        width: 25%;
    }
}

@media (max-width: 370px) {
    #experience-content .accordion h2 {
        font-size: 1rem;
    }

    #experience-content .accordion p {
        font-size: .8rem;
    }
}