section#intro {
   display: flex;
   flex-direction: row;
   gap: 4rem;
   justify-content: space-around; 
   padding: 2rem 12rem;
   margin: 2rem 4rem;
}

#intro img {
    width: 40%;
    border-radius: 1rem;
}

.intro-desc {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-family: 'Inter', sans-serif;
}

.intro-desc h1 {
    font-size: 5rem;
}

.intro-desc p:first-of-type {
    font-weight: 900;
}

.intro-desc h2 {
    font-size: 2.5rem;
}

.intro-desc h2 span {
    color: rgb(246, 178, 52);
}

.intro-desc span a {
    text-decoration: none;
    padding: .6rem 1.2rem;
    background-color: rgb(0, 213, 255);
    color: var(--prim-color);
    border-radius: .3rem;
}

.intro-desc a:hover {
    background-color: rgb(0, 189, 255);
    transition: background-color .4s;
}

@media(min-width: 1080px) {
    #intro {
        display: flex;
        flex-direction: column;
        padding: 2rem 4rem;
        margin: 0;
    }
}