:root {
    --prim-color: white;
    --sec-color: rgb(197, 196, 196);
    --third-color: rgb(240, 240, 240);
    --bg-active: rgb(64, 64, 64);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    padding: 2rem 0;
    margin-top: 1rem;
}

nav a {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: var(--sec-color);
    font-size: 1.1rem;
    padding: .8rem 1.4rem;
    border-radius: .6rem;
}

nav a#current {
    color: var(--prim-color);
    background-color: var(--bg-active);
}

nav a:hover {
    color: var(--third-color);
    transition: color .25s;
}
